/*this is the header of the website*/
h1 {
   color : orange;
   text-align : center;
}

/*this is a paragraph of the website*/
p {
   color : magenta;
   font-size : 40px;
   text-align : center;
} 

/*this is the body of the website*/
body {
   text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
   background-color : white;
   font-size : 50px;
}

/*this is the DarkMode button*/
#button {;
   position : relative;
   left : 500px;
}

/*this is the LightMode button*/
#button2 {
   position: relative;
   left: 550px;
}

